<script setup>
// import store from '@/store'

// function selectDistrict(id){
//   store.commit('selectDistrict',id)
// }

let districtList = [
  {id: 1, name:'Kwun Tong'},
  {id: 2, name:'Wong Tai Sin'},
]

</script>

<template>
  <div>
    <h1>Select District (Step 1/2)</h1>
    <div v-for="district in districtList" class="district">
      <RouterLink :to="{name:'SelectLibrary', params: {id: district.id}}">
        {{ district.name}}
      </RouterLink>
    </div>
  </div>
</template>

<style scoped>
.district {
  margin: 0.5rem;
}
</style>