<script>
// import { computed } from 'vue'
// import Counter from '@/components/Counter.vue'
// import store from '@/store'
// import router from '@/router'

// const districts = computed(() => store.state.selectedDistricts.join(', '))

// console.log(router.currentRoute.value.params.id)
// debugger

export default {
  computed: {
    selectedDistrictId() {
      return this.$route.params.id
    },
  },
  mounted() {
    // fetch library by district id
    console.log('get library by district:',{id: this.selectedDistrictId })
    let params = new URLSearchParams()
    params.set('district_id', this.selectedDistrictId )
    let url = 'https://api.example.net/libraries?' + params
    console.log('GET:',url)
    fetch(url)
      .then(res=>res.json())
      .catch(err=>({error:String(err)}))
      .then(json=>{
        if (json.error) {
          this.error = json.error
        } else {
          this.libraryList = json.libraryList
        }
      })
  }
}
</script>

<template>
  <div>
    <h1>Select Library (step 2/2)</h1>
    <p>selected districts: {{ selectedDistrictId }}</p>
    <p>
      error: {{this.error}}
    </p>
    <p>
      libraryList: {{this.libraryList}}
    </p>
  </div>
</template>

<style></style>
