<script>
export default {
  data() {
    return {
      count: 0,
    }
  },
  methods: {
    inc() {
      this.count++
      this.$store.commit('inc')
    },
  },
}
</script>
<template>
  <p>local state: {{ count }}</p>
  <p>store state: {{ $store.state.count }}</p>
  <button @click="inc">inc</button>
</template>

<style scoped></style>
